.cookie-consent-modal {
  font-size: 0.8rem;
  line-height: 1.4;
  display: none;
  max-width: 100%;
  margin-right: 10px;
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #eee;
  background-color: white;
  box-shadow: 0 29px 40px 4px rgba(0, 0, 0, 0.3);
  position: fixed;
  bottom: 12px;
  left: 12px;
  z-index: 15;

  @media (min-width: 540px) {
    max-width: 300px;
    padding: 24px;
  }

  h2 {
    font-size: 1rem;
  }

  p {
  }

  a {
    color: var(--theme-link-color);
    &:hover {
      color: var(--theme-link-color-hover);
    }
  }

  button {
    margin-top: 4px;
  }

  img {
    max-width: 29px;
    height: auto;
    margin-right: 6px;
    margin-bottom: 6px;
    float: left;
  }

  &.not-approved {
    display: block;
  }
}
