/* Sign information */

.bg-primary {
	background-color: #0f1f33 !important;
}

.sign-information {
	
}

.choose-sign-type {
	color: var(--main-black)
}

.btn-success {
	background-color: #15cd72;
	border-color: #15cd72;
}

/* Font Loader */

.font-loader {
	display: inline-block;
	margin: 0;
	padding: 0;
	border: 1px solid #24b46d;
	list-style-type: none;
}

.font-loader li {
	display: inline-block;
	vertical-align: top;
}

.font-loader li div {
	color: var(--main-green);
	display: inline-block;
	height: 5px;
	background-color: var(--main-green);

	overflow: hidden;
	vertical-align: top;
}

.active {
	pointer-events: none;
	cursor: none;
}

/* Sign options */

.sign-options {
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid var(--light-grey);
}

/* Toolbar */

.toolbar {
	display: inline-block;
	padding: 5px;
	border-radius: 5px;
	border: 1px solid var(--light-grey);
	background-color: white;
}

.toolbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.toolbar ul li {
	display: inline-block;
	vertical-align: top;
}

.toolbar-item {
	height: 44px;
	padding-left: 3px;
	padding-right: 3px;
	border: 1px solid #DDD;
	border-radius: 5px;
	
	cursor: pointer;
	background-color: rgb(242,242,241);
}

.toolbar-item-btn {
	width: 44px;
	height: 44px;
	
	background-image: url(../images/text-editor-icons.jpg);
	background-size: 310px;
	background-repeat: no-repeat;
}

.toolbar-item.active {
	-webkit-box-shadow: inset 0px 0px 0px 2px rgba(0,122,243,0.8);
	-moz-box-shadow: inset 0px 0px 0px 2px rgba(0,122,243,0.8);
	box-shadow: inset 0px 0px 0px 2px rgba(0,122,243,0.8);
}

.toolbar-item.italic {
    background-position: -63px -115px;
}

.toolbar-item.bold {
    background-position: -132px -115px;
}

.toolbar-item.left {
	background-position: -62px 10px;
}

.toolbar-item.center {
    background-position: -131px 10px;
}

.toolbar-item.right {
    background-position: -204px 10px;
}

.toolbar-item-align-left,
.toolbar-item-align-right{
	padding-left: 20px;
	background-image: url(../images/text-editor-icons.jpg);
	background-size: 200px;
	background-repeat: no-repeat;
}

.toolbar-item-align-left {
	background-position: 2px -106px;
}

.toolbar-item-align-right {
	background-position: -180px -106px;
}

.toolbar-separator div {
	display: inline-block;
	width: 1px;
	height: 44px;
	margin-left: 5px;
	margin-right: 5px;
	background-color: var(--main-grey);
	position: relative;
}

input[type="number"] {
    width: 4rem;
    margin-top: 6px;
}

/* Tabs */

.tabs {
	border-bottom: 1px solid var(--main-grey);
	margin-bottom: 10px;
}

.choose-sign-type {
	display: inline-block;
	padding: 10px 4px;
	border: 1px solid var(--main-grey);
	border-bottom: none;
}


.option-holes {
	text-align: center;
	display: inline-block;
	padding: 10px 4px;
	width: 44px;
	border-radius: 5px;
	border: 1px solid var(--main-grey);
	
	cursor: pointer;
}

.option-holes.active {
	color: white;
	border-color: var(--main-blue);
	background-color: var(--main-blue);
}

/* Price */

.price-container {
	position: absolute;
	right: 20px;
	bottom: 20px;
}

.price-container > div {
	display: inline-block;
}

.price-container .current-price {
	font-weight: 900;
}

.price-container .current-price span {
	color: rgb(255, 106, 68);
}
