.storefront-breadcrumb {
  padding: 0 0.75rem 0.75rem 0.75rem !important;
  margin: 0 !important;

  .woocommerce-breadcrumb {
    margin-left: auto;
    margin-right: auto;
    padding: 5px 15px 7px 0;
    border: none;
    max-width: 1300px;
  }
  .woocommerce-breadcrumb a:first-of-type::before {
    display: none;
  }
  a {
    text-decoration: none !important;
  }
}
