table {
  border-spacing: 0;
  width: 100%;
  border-collapse: separate;
}

table caption {
  padding: 1em 0;
  font-weight: 600;
}

table td,
table th {
  padding: 1em 1.41575em;
  text-align: left;
  vertical-align: top;
}

table td p:last-child,
table th p:last-child {
  margin-bottom: 0;
}

table th {
  font-weight: 600;
}

table thead th {
  padding: 1.41575em;
  vertical-align: middle;
}

table tbody h2 {
  font-size: 1em;
  letter-spacing: normal;
  font-weight: 400;
}

table tbody h2 a {
  font-weight: 400;
}
