:root {
  --black: #1c1b1a;
  --orange: #ff6a44;
  --yellow: #ffe08a;
  --brown: #351408;
  --main-black: var(--black);
  --main-lightgrey: #f7f7f7;
  --main-grey: #ddd;
  --main-blue: #097dae;
  --main-blue-dark: #097dae;
  --main-red: #dc522f;
  --main-red-dark: #df2d05;
  --main-purple: #551ab2;
  --main-green: #129368;
  --main-border: rgba(0, 0, 0, 0.15);
  --main-grey-dark: #363636;
  --main-border: #ddd;
  --main-green-lime: #5ce578;
  --blue-500: hsl(206, 100%, 52%);
  --blue-600: hsl(206, 100%, 40%);
  --theme-link-color: var(--blue-600);
  --theme-link-color-hover: var(--blue-500);
  --cool-green: #68c0c2;
  --icy-blue: #e1ecee;
  --khaki: #f8e8dd;
  --secondary-blue-aria: #1d7b98;
}
